body {
  font-family: "Josefin sans";
}

.header {
  height: 20vh;
  background-color: #2ecc71;
  font-size: 40px;
}

.title {
  font-size: 4rem;
  padding-top: calc(10vh - 32px);
  padding-left: 60px;
}

.main {
  min-height: calc(80vh - 120px);
  background-color: #d5fadd;
  padding: 60px;
}

.contact-list {
  position: relative;
  display: inline-block;
  width: 20vw;
  height: 100%;
}

.contact-form {
  position: relative;
  display: inline-block;
}

.form-row {
  display: block;
  margin-bottom: 20px;
}

label {
  display: block;
}
